/* Basic settings! */
html {
	overflow-y: hidden;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}
body{
	background-color: #f2f2f2;
	background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
	margin: 0;
	padding: 0;
}

/* Fonts! */
@font-face {
    font-family: "fnt_adam";
    src: url("../fnt/Adam.otf");
}
@font-face {
	font-family: "fnt_futura";
	src: url("../fnt/Futura.otf");
}

/* Define HTML Layout in the same order as in index.html. Contains four control panels (one in each corner) plus the graph visualization in the middle! */
#div_controlPanelTopLeft{
	position: fixed;
    top: 5px;
    left: 5px;
	/* background-color: #ff0000; */
}
#div_controlPanelTopRight{
	position: fixed;
    top: 0px;
    right: 0px;
	/* background-color: #ff0000; */
}
#div_graphOutput{
	/* background-color: #00ff00; */
}
#svg_visualization{
	/* background-color: #0000ff; */
}
#div_controlPanelBottomLeft{
	position: fixed;
    bottom: 0px;
    left: 0px;
	/* background-color: #ff0000; */
}
#div_controlPanelBottomRight{
	position: fixed;
    bottom: 0px;
    right: 0px;
	padding-bottom: 5px;
	/* background-color: #ff0000; */
}
#div_controlPanelBottomRight img{
	margin-right: 5px;
} 
#div_controlPanelBottomRight img:hover{
	outline: 1px solid #0000ff; 
} 
#btn_donate{
	height: 30px;
	width: 80px;
	margin-right: 5px;
	float: right;
}
#div_donate{
	display: none;
	text-align: center;
	background-color: #e9e9e9;
	position: fixed;
	bottom: 45px;
	right: 5px;
	border: 2px solid black;
	border-radius: 5px;
	padding: 5px;
	margin: 0px;
	font-family: "fnt_futura";
	font-weight: 900;
	font-size: 30px;
}
#div_donateAddress{
	letter-spacing: 2px;
	word-wrap: break-word;
	text-align: center;
	overflow: hidden;
	color: #000;
	font-family: Lucida Console;
	font-weight: 500;
	font-size: 14px;
	border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}
#div_donateAddress:hover{
	outline: 1px solid #0000ff; 
	border-radius: 3px;
}
#btn_addAddress{
	width: 132px;
	height: 30px;
	float: left;
}
#btn_addAddressClose{
	width: 66px;
	height: 30px;
	display: none;
	float: left;
}
#div_enterAddress{
	resize: none;
	display: none;
	width: 132px;
	height: 173px;
	letter-spacing: 5px;
	word-wrap: break-word;
	text-align: center;
	padding-left: 6px;
	padding-top: 6px;
	overflow: hidden;
	color: #000000;
	font-family: Lucida Console;
	font-size: 14px;
	background-color: #e9e9e9;
	border: 1px solid #000000;
    border-radius: 3px;
    box-sizing: border-box;
	float: left;
}

/* Properties of rendered Graph (nodes, edges)! */
.node text{
	font-weight: 600;
	font-family: fnt_adam;
	font-size: 12px;
	text-align: center;
}

.node rect{
	stroke: #000000;
	fill: #e6e6e6;
	stroke-width: 2px;
}
.node ellipse{
	stroke: #000000;
	fill: #F6F6F6;
	stroke-width: 2px;
}
.edgeLabel{

	font-family: Arial;
}
.bundleLabel{
	font-family: Arial;
	font-size: 12px;
	text-align: center;
	color: #000000;
}

a:link{
	color: #000000;
	text-decoration: none;
}
a:visited{
	color: #000000;
	text-decoration: none;
}
a:hover{
	color: #0000cc;
	text-decoration: none;
}
a:active{
	color: #000000;
	text-decoration: none;
}


.div_addressLabel{
	/* background-color: #ff0000; */
	width: 294px;
	height: 34px;
}
.div_addressMiddle{
	float: left;
	height: 34px;
    width: 226px;
	/* background-color: #ffcc44; */
	font-family: "fnt_futura";
	font-weight: 900;
	font-size: 20px;
	text-align: center;
	line-height: 33px;
}
.div_addressExpandLeft{
	float: left;
	
    height: 34px;
    width: 34px;
	
	font-weight: 900;
	font-family: fnt_adam;
	font-size: 33px;
	text-align: left;
	line-height: 50%;

	background-image: url("../img/arr_colBlue_uneq.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left;
	    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";

}
.div_addressExpandRight{
	float: left;
	
    height: 34px;
    width: 34px;
	
	font-weight: 900;
	font-family: fnt_adam;
	font-size: 33px;
	text-align: right;
	line-height: 50%;
	

	background-image: url("../img/arr_colBlue_uneq.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left;

}






.div_addressExpandRightWorking{
	float: left;
	
    height: 34px;
    width: 34px;
	
	font-weight: 900;
	font-family: fnt_adam;
	font-size: 33px;
	text-align: right;
	line-height: 50%;
	

	background-image: url("../img/arr_logo_eq.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left;

}

.icon_expandRightIdle{
	background-image: url("../img/arr_colBlue_uneq.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left;
}
.icon_expandRightDone{
	background-image: url("../img/arr_colGreen_uneq.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left;
}
.icon_logoSpinning{
	background-image: url("../img/arr_logo_eq.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left;
}






input[type=text]{
	font-size: 12px;
    padding: 3px 3px;
    margin: 3px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}